.App {
    /* display: flex;
    justify-content: center;
    align-items: center; */


    /* text-align: center;
    position: fixed;
    top: 50%;
    left: 50%; */
}

/* .App:hover {
    cursor: pointer;
} */