#loginParent {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  
}


#loginButton {
  background-color: #30362f;
  color: #efefef;


  height: 100px;
  width: 250px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 24px;
background: linear-gradient(145deg, #333a32, #2b312a);
box-shadow:  14px 14px 13px #212520,
             -14px -14px 13px #3f473e;

}


#loginButton:hover {
  cursor: pointer;
}

